body {
  overflow: hidden;
}
main, main section {
  height: calc(100vh - var(--header-height));
}
main {
  scroll-snap-type: y mandatory;
  overflow: auto;
}
main section {
  scroll-snap-align: center;
  position: relative;
}
#welcome > div:first-of-type {
  display: flex;
  width: 0;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  font-family: "Anurati";
  color: var(--background);
  text-shadow: var(--emphasis) 0 0 0;
  text-align: center;
  transition: color 1.25s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#welcome > div:first-of-type > div {
  min-width: 0;
}
#scroll-for-more {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  position: absolute;
  left: 50%;
  bottom: 5%;
  padding: 20px;
  display: inline-block;
  text-align: center;
  transform: translateX(-50%);
}
#scroll-for-more svg {
  margin: 0 auto;
  height: 2em;
  display: block;
}
#scroll-for-more svg use {
  stroke: var(--text);
  transition: stroke 1.25s ease-in-out;
}
@keyframes spread {
  from { 
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes glow {
  from {
    text-shadow: var(--emphasis) 0 0 0;
  }
  to {
    text-shadow: var(--emphasis) 0 0 25px;
  }
}