input[type="button"], button {
  margin: 0;
  padding: 10px 15px;
  color: var(--text);
  background-color: var(--background);
  border: 1px solid var(--background-secondary);
  border-radius: 5px;
}
input[type="button"].highlight, button.highlight {
  border: none;
  color: var(--background);
  background-color: var(--emphasis);
  font-weight: bold;
}