@supports (backdrop-filter: blur(5px)) {
  #modal-overlay {
    backdrop-filter: blur(5px);
  }
}
@supports not (backdrop-filter: blur(5px)) {
  /*body.blur > :not(.modal)*/
  body.blur header, body.blur footer, body.blur main {
    filter: blur(5px);
  }
}
.modal {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  transition: background-color 500ms;
}
.modal.open {
  display: initial;
}
#modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .bottom {
  background-color: var(--background-secondary);
  transition: background-color 500ms;
}