.vscode/
node_modules/
.idea/
.*rc
# fonts/*/ means that all subfolders of /fonts are ignored except for /fonts/css
fonts/*/
!fonts/css/
sqltools_20200607234612_13548.log
servers/target/
servers/Cargo.lock
.todo