<imports>
  <link rel="stylesheet" href="/css/homepage.css">
  <!-- Imported in html instead of using @import because this loads it first (And not all browsers support preloading) -->
  <link rel="stylesheet" href="/fonts/css/Anurati.css">
  <link rel="preload" as="font" href="/fonts/Anurati-Regular.woff2" crossorigin>

  <script src="/js/homepage.js" type="application/javascript" defer></script>
</imports>

<title>Home</title>

<section id="welcome">
  <div>
    <div>W</div>
    <div>E</div>
    <div>L</div>
    <div>C</div>
    <div>O</div>
    <div>M</div>
    <div>E</div>
  </div>
  <!-- Make scroll-for-more entirely self dependent -->
  <div id="scroll-for-more">
    Scroll For More
    {% include "partials/scroll-for-more.svg" %}
  </div>
</section>
<section style="background-color: blue;"></section>