<imports>
  <link rel="stylesheet" href="/css/homepage.css">
  <!-- Imported in html instead of using @import because this loads it first (And not all browsers support preloading) -->
  <link rel="stylesheet" href="/fonts/css/Anurati.css">
  <link rel="preload" as="font" href="/fonts/Anurati-Regular.woff2" crossorigin>

  <script src="/js/homepage.js" type="application/javascript" defer></script>
</imports>

<title>Home</title>

<section id="welcome">
  <div>
    <div>W</div>
    <div>E</div>
    <div>L</div>
    <div>C</div>
    <div>O</div>
    <div>M</div>
    <div>E</div>
  </div>
  <!-- Make scroll-for-more entirely self dependent -->
  <div id="scroll-for-more">
    Scroll For More
    <!--<embed src="/img/scroll-for-more.svg" type="image/svg+xml" height="100" width="104">
    </embed>-->
    {% include "partials/scroll-for-more.svg" %}
    <!--<svg viewBox="0 0 100 104" xmlns="http://www.w3.org/2000/svg">
      <symbol id="arrow">
        <path d="M 5 2 l 45 40 l 45 -40" fill="none" stroke-width="10" stroke-linecap="round" />
      </symbol>
      <use href="#arrow" opacity="0.5" y="0">
        <animate id="arrowYAnimation" attributeName="y" values="0;52" begin="0s;arrowYAnimation.end+1s" dur="1s"
          calcMode="paced" fill="freeze" />
        <animate id="arrowOpacityAnimation" attributeName="opacity" values="0;0.75"
          begin="0s;arrowOpacityAnimation.end+1s" dur="1s" calcMode="spline" fill="freeze" />
        <!-- I don't understand the begin value, I got it from here: https://stackoverflow.com/a/31690969/11326662 ->
      </use>
      <use href="#arrow" y="52" />
    </svg>-->
  </div>
</section>
<section style="background-color: blue;"></section>