<!DOCTYPE html>
<html <% if (theme) { %> data-theme="<%- theme %>" <% } %>>

<head>
  <meta charset="utf8">

  <% if (theme) { %>
    <link id="theme-stylesheet" rel="stylesheet" href="/css/theme/<%- theme %>.css">
  <% } else { %>
    <link id="light-stylesheet" rel="stylesheet" href="/css/theme/light.css" media="not all and (prefers-color-scheme: dark)">
    <link id="dark-stylesheet" rel="stylesheet" href="/css/theme/dark.css" media="(prefers-color-scheme: dark)">
  <% } %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/input.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/modal.css">

  <!--<link rel="preload" href="<%#- "/pages" + url.pathname + url.search %>" as="fetch">-->
  
  <script src="/js/page-loader.js" type="application/javascript"></script>
  <script src="/js/globals.js" type="application/javascript" defer></script>
  <script src="/js/theme.js" type="application/javascript" defer></script>
  <script src="/js/modal.js" type="application/javascript" defer></script>

  <%# if (hasImports) { %>
    <%#- include(importPath) %>
  <%# } %>
</head>

<body class="blur">
  <header>
    <!--<svg>
      <use href="/svg/logo.svg#logo-bare"></use>
    </svg>-->
  </header>
  <main>
    <div id="current-page"></div>
    <div id="prev-page"></div>
  </main>
  <div id="modal-overlay"></div>
  <div id="loading-modal" class="modal open no-body">
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
  </div>
  <footer>
    This site uses cookies. <input type="button" value="I Accept Cookies!" class="highlight"> <input type="button" value="No cookies for me.">
  </footer>
</body>
</html>