<!DOCTYPE html>
<html <% if (theme) { %> data-theme="<%- theme %>" <% } %>>

<head>
  <meta charset="utf8">

  <link rel="icon" href="/svg/monospace-l.svg">

  <% if (theme) { %>
    <link id="theme-stylesheet" rel="stylesheet" href="/css/theme/<%- theme %>.css">
  <% } else { %>
    <link id="light-stylesheet" rel="stylesheet" href="/css/theme/light.css" media="not all and (prefers-color-scheme: dark)">
    <link id="dark-stylesheet" rel="stylesheet" href="/css/theme/dark.css" media="(prefers-color-scheme: dark)">
  <% } %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/input.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/transition.css">

  <!--<link rel="preload" href="<%#- "/pages" + url.pathname + url.search %>" as="fetch">-->
  
  <script src="/js/page-loader.js" type="application/javascript" async></script>
  <script src="/js/globals.js" type="application/javascript" defer></script>
  <script src="/js/theme.js" type="application/javascript" defer></script>
  <script src="/js/modal.js" type="application/javascript" defer></script>
  <script src="/js/header.js" type="application/javascript" defer></script>

  <%# if (hasImports) { %>
    <%#- include(importPath) %>
  <%# } %>
</head>

<body class="blur">
  <header>
    <ul id="menu">
      <li>
        Foo
        <ul>
          <li>you</li>
          <li>me</li>
        </ul>
      </li>
      <li>
        Bar
        <ul>
          <li>hi</li>
          <li>bye</li>
        </ul>
      </li>
    </ul>
    <div id="open-menu-container">
      <svg id="open-menu" viewBox="0, 0, 125, 100">
        <rect x="0" y="0" width="125" height="20">
          <animateTransform
            data-direction="forwards"
            attributeName="transform"
            type="rotate"
            from="0"
            to="-45"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animateTransform
            data-direction="backwards"
            attributeName="transform"
            type="rotate"
            from="-45"
            to="0"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animateMotion
            data-direction="forwards"
            path="
              M 0, 0
              V 50"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animateMotion
            data-direction="backwards"
            path="
              M 0, 50
              V 0"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animate
            data-direction="forwards"
            attributeName="width"
            from="125"
            to="70.7107"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animate
            data-direction="backwards"
            attributeName="width"
            from="70.7107"
            to="125"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
        </rect>
        <rect x="0" y="40" width="125" height="20" fill="black">
          <animate
            data-direction="forwards"
            attributeName="x"
            from="0"
            to="10"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animate
            data-direction="backwards"
            attributeName="x"
            from="10"
            to="0"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animate
            data-direction="forwards"
            attributeName="width"
            from="125"
            to="115"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animate
            data-direction="backwards"
            attributeName="width"
            from="115"
            to="125"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
        </rect>
        <rect x="0" y="80" width="125" height="20">
          <animateTransform
            data-direction="forwards"
            attributeName="transform"
            type="rotate"
            from="0, 0, 80"
            to="45, 0, 80"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animateTransform
            data-direction="backwards"
            attributeName="transform"
            type="rotate"
            from="45, 0, 80"
            to="0, 0, 80"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animateMotion
            data-direction="forwards"
            path="
              M 0, 0
              l 14.1421, -44.1421"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animateMotion
            data-direction="backwards"
            path="
              M 14.1421, -44.1421
              L 0, 0 "
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animate
            data-direction="forwards"
            attributeName="width"
            from="125"
            to="70.7107"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
          <animate
            data-direction="backwards"
            attributeName="width"
            from="70.7107"
            to="125"
            dur="500ms"
            repeatCount="1"
            begin="indefinite"
            fill="freeze"/>
        </rect>
      </svg>
    </div>
    <img id="logo" src="/svg/ltag.svg">
    <!--<svg>
      <use href="/svg/logo.svg#logo-bare"></use>
    </svg>-->
  </header>
  <main>
    <div id="current-page"></div>
    <div id="prev-page"></div>
  </main>
  <div id="modal-overlay"></div>
  <div id="loading-modal" class="modal open no-body">
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
  </div>
  <footer>
    This site uses cookies. <input type="button" value="I Accept Cookies!" class="highlight"> <input type="button" value="No cookies for me.">
  </footer>
</body>
</html>