<!DOCTYPE html>

<html {% if theme != Theme::Auto %} data-theme="{{- theme.to_string().to_lowercase() -}}" {% endif %}>

<head>
  <meta charset="utf8">
  <meta name="author" content="Liam Bloom">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

  <link rel="icon" href="/svg/monospace-l.svg">
  <link rel="stylesheet" href="/css/global/theme.css">
  <link rel="stylesheet" href="/css/global/main.css">
  <link rel="stylesheet" href="/css/global/input.css">
  <link rel="stylesheet" href="/css/global/header.css">
  <link rel="stylesheet" href="/css/global/footer.css">
  <link rel="stylesheet" href="/css/global/modal.css">
  <link rel="stylesheet" href="/css/global/settings.css">

  <!--<link rel="preload" href="<%#- "/pages" + url.pathname + url.search %>" as="fetch">-->
  
  <script src="/js/global/page-loader.js" async></script>
  <script src="/js/global/globals.js" defer></script>
  <script src="/js/global/Color.js" defer></script>
  <script src="/js/global/cookies.js" defer></script>
  <script src="/js/global/theme.js" defer></script>
  <script src="/js/global/inputs.js" defer></script>
  <script src="/js/global/modal.js" defer></script>
  <script src="/js/global/header.js" defer></script>
  <script src="/js/global/settings.js" defer></script>
</head>

<body class="blur" style="cursor: wait;">
  <header>
    <nav>
      <div id="back">
        <svg id="close-menu" viewBox="0, 0, 125, 100">
          <rect width="70.7107" height="20" class="fill-txt" x="0" y="50" transform="rotate(-45, 0, 50)"/>
          <rect x="10" y="40" width="115" height="20" class="fill-txt"/>
          <rect width="70.7107" height="20" class="fill-txt" x="0" transform="rotate(45, 0, 50)" y="30"/>
        </svg>
      </div>
      <div id="lists">
        <ul>
          <li>
            Foo
            <ul>
              <li>
                you
                <ul>
                  <li>yes</li>
                  <li>no</li>
                </ul>
              </li>
              <li>me</li>
            </ul>
          </li>
          <li>
            Bar
            <ul>
              <li>hi</li>
              <li>bye</li>
            </ul>
          </li>
        </ul>
        <ul>
          <li id="enter-settings" class="menu">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <path id="tooth" d="M 40 0 h 20 l 3.75 15 h -27.5 z" fill="gray" />
              <use href="#tooth" transform="rotate(60 50 50)" />
              <use href="#tooth" transform="rotate(120 50 50)" />
              <use href="#tooth" transform="rotate(180 50 50)" />
              <use href="#tooth" transform="rotate(240 50 50)" />
              <use href="#tooth" transform="rotate(300 50 50)" />
              <circle cx="50" cy="50" r="29" stroke="gray" stroke-width="20" fill="none" />
              <circle cx="50" cy="50" r="10" fill="gray" />
            </svg>
            Settings
            <div id="settings">
              <div id="settings-content">
                <section>
                  <h2>Theme</h2>
                  <div class="section-margin no-indent">
                    <!-- check if theme is light, dark, or None-->
                    {% for option in Theme::VARIANTS %}
                      {% let lowercase = option.to_string().to_lowercase() %}
                      <input type="radio" name="theme" id="{{- lowercase -}}-theme-radio" value="{{- lowercase -}}" {% if theme.borrow() == option %} checked {% endif %}>
                      <label for="{{- lowercase -}}-theme-radio">{{ option }}</label>
                    {% endfor %}
                  </div>
                  <div class="indent">
                    Emphasis color: <input type="color" id="emphasis-input">
                  </div>
                </section>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div id="open-menu-container">
      <svg id="open-menu" viewBox="0, 0, 125, 100">
        <rect x="0" y="0" width="125" height="20" class="fill-txt"/>
        <rect x="0" y="40" width="125" height="20" fill="black" class="fill-txt"/>
        <rect x="0" y="80" width="125" height="20" class="fill-txt"/>
      </svg>
    </div>
    <!--<svg>
      <use href="/svg/logo.svg#logo-bare"></use>
    </svg>-->
    <div id="title">Foo</div>
  </header>
  <main></main>
  <div id="modal-overlay"></div>
  <div id="loading-modal" class="modal open no-body">
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
  </div>
  <div id="color-picker" class="modal">
    <div class="content">
      <div id="hue-saturation">
        <div></div>
      </div>
      <div id="lightness-background">
        <input type="range" step="1" id="lightness">
      </div>
      <div class="before-after">
        <div class="before"></div>
        <div class="after"></div>
      </div>
      <div id="textboxes">
        <input type="text" id="r-tb">
        <input type="text" id="g-tb">
        <input type="text" id="b-tb">
        <input type="text" id="h-tb">
        <input type="text" id="s-tb">
        <input type="text" id="l-tb">
        <div id="hex-tb-container">
          <input type="text" id="hex-tb">
        </div>
      </div>
    </div>
    <div class="bottom">
      <input type="button" value="OK" class="highlight" data-close><input type="button" value="Cancel" data-cancel>
    </div>
  </div>
  <footer>
    <svg viewBox="0 0 100 95" xmlns="http://www.w3.org/2000/svg">
      <symbol id="chip" viewBox="0 0 100 100" width="5" height="5">
        <rect x="0" y="0" width="100" height="100" fill="#291500" />
      </symbol>
      <symbol id="cookie" viewBox="0 0 100 100" width="55" height="55">
        <circle cx="50" cy="50" r="50" fill="#7a5000" stroke="black" />
        <use href="#chip" x="30" y="10" transform="rotate(30)" />
        <use href="#chip" x="48" y="21" transform="rotate(-10)" />
        <use href="#chip" x="40" y="-30" transform="rotate(70)" />
        <use href="#chip" x="90" y="-30" transform="rotate(45)" />
        <use href="#chip" x="75" y="10" transform="rotate(10)" />
        <use href="#chip" x="50" y="-50" transform="rotate(80)" />
        <use href="#chip" x="65" y="-15" transform="rotate(65)" />
        <use href="#chip" x="20" y="45" transform="rotate(5)" />
        <use href="#chip" x="75" y="-20" transform="rotate(85)" />
        <use href="#chip" x="30" y="10" transform="rotate(30)" />
        <use href="#chip" x="75" y="50" transform="rotate(10)" />
        <use href="#chip" x="90" y="35" transform="rotate(40)" />
        <use href="#chip" x="100" y="40" transform="rotate(25)" />
      </symbol>
      <use href="#cookie" x="0" y="28.75"/><!-- transform="translateY(-25%) rotate(30 0 45)"-->
      <use href="#cookie" x="45" y="40"/>
      <use href="#cookie" x="22.5" y="0"/><!--transform="translateX(-50%) rotate(-30 0 50)"-->
    </svg>
    <div>
      This site uses cookies.
      <input type="button" id="accept-cookies" value="I Accept Cookies!" class="highlight"> 
      <input type="button" id="deny-cookies" value="No cookies for me.">
    </div>
  </footer>
</body>
</html>