<!DOCTYPE html>
<html <% if (theme) { %> data-theme="<%- theme %>" <% } %>>

<head>
  <meta charset="utf8">

  <link rel="icon" href="/svg/monospace-l.svg">

  <% if (theme) { %>
    <link id="theme-stylesheet" rel="stylesheet" href="/css/theme/<%- theme %>.css">
  <% } else { %>
    <link id="light-stylesheet" rel="stylesheet" href="/css/theme/light.css" media="not all and (prefers-color-scheme: dark)">
    <link id="dark-stylesheet" rel="stylesheet" href="/css/theme/dark.css" media="(prefers-color-scheme: dark)">
  <% } %>
  <link rel="stylesheet" href="/css/global/main.css">
  <link rel="stylesheet" href="/css/global/input.css">
  <link rel="stylesheet" href="/css/global/header.css">
  <link rel="stylesheet" href="/css/global/footer.css">
  <link rel="stylesheet" href="/css/global/modal.css">
  <link rel="stylesheet" href="/css/global/settings.css">

  <!--<link rel="preload" href="<%#- "/pages" + url.pathname + url.search %>" as="fetch">-->
  
  <script src="/js/global/page-loader.js" type="application/javascript" async></script>
  <script src="/js/global/globals.js" type="application/javascript" defer></script>
  <script src="/js/global/theme.js" type="application/javascript" defer></script>
  <script src="/js/global/modal.js" type="application/javascript" defer></script>
  <script src="/js/global/header.js" type="application/javascript" defer></script>
  <script src="/js/global/settings.js" type="application/javascript" defer></script>

  <%# if (hasImports) { %>
    <%#- include(importPath) %>
  <%# } %>
</head>

<body class="blur">
  <header>
    <nav>
      <div id="back">
        <svg id="close-menu" viewBox="0, 0, 125, 100">
          <rect width="70.7107" height="20" class="fill-txt" x="0" y="50" transform="rotate(-45, 0, 50)"/>
          <rect x="10" y="40" width="115" height="20" class="fill-txt"/>
          <rect width="70.7107" height="20" class="fill-txt" x="0" transform="rotate(45, 0, 50)" y="30"/>
        </svg>
      </div>
      <div id="lists">
        <ul>
          <li>
            Foo
            <ul>
              <li>
                you
                <ul>
                  <li>yes</li>
                  <li>no</li>
                </ul>
              </li>
              <li>me</li>
            </ul>
          </li>
          <li>
            Bar
            <ul>
              <li>hi</li>
              <li>bye</li>
            </ul>
          </li>
        </ul>
        <ul>
          <li id="enter-settings" class="menu">
            Settings
            <div id="settings">
              This is the settings menu
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div id="open-menu-container">
      <svg id="open-menu" viewBox="0, 0, 125, 100">
        <rect x="0" y="0" width="125" height="20" class="fill-txt"/>
        <rect x="0" y="40" width="125" height="20" fill="black" class="fill-txt"/>
        <rect x="0" y="80" width="125" height="20" class="fill-txt"/>
      </svg>
    </div>
    <img id="logo" src="/svg/ltag.svg">
    <!--<svg>
      <use href="/svg/logo.svg#logo-bare"></use>
    </svg>-->
  </header>
  <main>
    <div id="current-page"></div>
    <div id="prev-page"></div>
  </main>
  <div id="modal-overlay"></div>
  <div id="loading-modal" class="modal open no-body">
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
  </div>
  <footer>
    This site uses cookies. <input type="button" value="I Accept Cookies!" class="highlight"> <input type="button" value="No cookies for me.">
  </footer>
</body>
</html>