<imports>
  <link rel="stylesheet" href="/css/default-error.css">
</imports>
<div id="error-link">
  <div>
    The <%= locals.sub ? "sub" : "" %>domain <span class="u"><%= url.hostname %></span> is not recognized by the server
  </div>
</div>