<title><%= errorMessage %></title>
<imports>
  <link rel="stylesheet" href="/css/default-error.css">
</imports>
<a id="error-link" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/<%= errorCode %>" class="blend"><%= errorMessage %></a>