<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="170.771mm"
   height="170.771mm"
   viewBox="0 0 170.771 170.771"
   version="1.1"
   id="svgLogo"
   inkscape:version="0.92.3 (2405546, 2018-03-11)"
   sodipodi:docname="LogoFinal.svg">
  <title
     id="title4589">Logo</title>
  <defs
     id="defs4579">
    <linearGradient
       inkscape:collect="always"
       xlink:href="#09-7f"
       id="linearGradient4867"
       gradientUnits="userSpaceOnUse"
       x1="318.19821"
       y1="143.09778"
       x2="319.332"
       y2="147.41919" />
    <linearGradient
       id="09-7f"
       inkscape:collect="always">
      <stop
         id="stop4729"
         offset="0"
         style="stop-color:#000000;stop-opacity:0.03482587" />
      <stop
         id="stop4731"
         offset="1"
         style="stop-color:#ffffff;stop-opacity:0.49751243" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4524"
       id="linearGradient6702"
       x1="-99.755783"
       y1="275.2243"
       x2="8.5106354"
       y2="146.45622"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#09-7f"
       id="linearGradient6710"
       x1="-70.113548"
       y1="195.55725"
       x2="-43.890583"
       y2="282.91074"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#09-7f"
       id="linearGradient4727"
       gradientUnits="userSpaceOnUse"
       x1="318.19821"
       y1="143.09778"
       x2="319.332"
       y2="147.41919" />
    <linearGradient
       id="linearGradient4524"
       inkscape:collect="always">
      <stop
         id="stop4538"
         offset="0"
         style="<%- `stop-color:${headTxt};stop-opacity:1` %>" />
      <stop
         id="stop4540"
         offset="1"
         style="<%- `stop-color:${light};stop-opacity:1` %>" />
    </linearGradient>
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.83590819"
     inkscape:cx="472.18981"
     inkscape:cy="379.44048"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1920"
     inkscape:window-height="1001"
     inkscape:window-x="-9"
     inkscape:window-y="-9"
     inkscape:window-maximized="1"
     inkscape:pagecheckerboard="true"
     inkscape:measure-start="0,0"
     inkscape:measure-end="0,0"
     showborder="true"
     inkscape:showpageshadow="false" />
  <metadata
     id="metadata4582">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title>Lupis.js logo</dc:title>
        <dc:date>1/12/19</dc:date>
        <dc:creator>
          <cc:Agent>
            <dc:title>Liam Bloom</dc:title>
          </cc:Agent>
        </dc:creator>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-126.229)">
    <path
       sodipodi:type="star"
       style="fill:none;fill-opacity:0;stroke:url(#linearGradient6702);stroke-width:12.80589676;stroke-miterlimit:9.9439249;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
       id="path5138"
       sodipodi:sides="4"
       sodipodi:cx="-47.510044"
       sodipodi:cy="210.70647"
       sodipodi:r1="34.60627"
       sodipodi:r2="21.090015"
       sodipodi:arg1="0.0031884147"
       sodipodi:arg2="0.78858658"
       inkscape:flatsided="false"
       inkscape:rounded="7.4"
       inkscape:randomized="0"
       d="M -12.90395,210.81681 C -13.486792,393.61587 97.025813,96.820506 -32.644775,225.66683 -162.31536,354.51316 135.17868,245.8954 -47.620383,245.31256 -230.41945,244.72972 66.375917,355.24232 -62.47041,225.57174 -191.31674,95.901147 -82.69898,393.39519 -82.116138,210.59613 -81.533296,27.797064 -192.0459,324.59243 -62.375313,195.7461 67.295275,66.899775 -230.19877,175.51753 -47.399705,176.10037 135.39936,176.68321 -161.396,66.17061 -32.549679,195.8412 96.296647,325.51179 -12.321109,28.017743 -12.90395,210.81681 Z"
       inkscape:transform-center-y="3.3499892e-006"
       inkscape:transform-center-x="4.3273503e-006"
       transform="rotate(25,16.889432,510.88678)" />
    <path
       transform="matrix(0.90630926,0.42261823,-0.42261895,0.90630773,217.49284,40.728346)"
       inkscape:transform-center-x="2.9406087e-006"
       inkscape:transform-center-y="4.1654467e-006"
       d="M -12.90395,210.81681 C -13.486792,393.61587 97.025813,96.820506 -32.644775,225.66683 -162.31536,354.51316 135.17868,245.8954 -47.620383,245.31256 -230.41945,244.72972 66.375917,355.24232 -62.47041,225.57174 -191.31674,95.901147 -82.69898,393.39519 -82.116138,210.59613 -81.533296,27.797064 -192.0459,324.59243 -62.375313,195.7461 67.295275,66.899775 -230.19877,175.51753 -47.399705,176.10037 135.39936,176.68321 -161.396,66.17061 -32.549679,195.8412 96.296647,325.51179 -12.321109,28.017743 -12.90395,210.81681 Z"
       inkscape:randomized="0"
       inkscape:rounded="7.4"
       inkscape:flatsided="false"
       sodipodi:arg2="0.78858658"
       sodipodi:arg1="0.0031884147"
       sodipodi:r2="21.090015"
       sodipodi:r1="34.60627"
       sodipodi:cy="210.70647"
       sodipodi:cx="-47.510044"
       sodipodi:sides="4"
       id="path6694"
       style="fill:none;fill-opacity:0;stroke:url(#linearGradient6710);stroke-width:12.80589676;stroke-miterlimit:9.9439249;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
       sodipodi:type="star" />
  </g>
</svg>
