#color-picker {
  width: 500px;
  height: 400px;
  max-height: 100vh;
}
#hue-saturation {
  width: 300px;
  height: 300px;
  margin: 10px;
  position: relative;
  background-image: linear-gradient(to bottom, transparent, gray), 
    linear-gradient(to right, red, #ff8800, yellow, #88ff00, #00ff00, #00ff88, cyan, #0088ff, blue, #8800ff, magenta, #ff0088, red); /* unfortunately doesn't use gamma blending (correct blending) (https://www.youtube.com/watch?v=LKnqECcg6Gw) */
}
#hue-saturation div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--background);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
}