:root {
  --header-height: 57.5px;
  --nav-width: 300px;
}
header {
  background-color: var(--background);
  box-shadow: 0px 0px 5px 5px var(--darker);
  transition-property: background-color, color, box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 1.25s;
  height: var(--header-height);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}
#logo {
  height: 35px;
  margin: calc((var(--header-height) - 35px) / 2);
  margin-left: 50px;
}
#open-menu-container {
  height: calc(var(--header-height) * 3 / 4);
  width: calc(var(--header-height) * 3 / 4);
  margin: calc(var(--header-height) / 8);
  border-radius: 50%;
}
#open-menu-container {
  cursor: pointer;
  position: relative;
  z-index: 3;
}
/*[data-theme="light"] header #open-menu-container:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
[data-theme="dark"] header #open-menu-container:focus {
  background-color: rgba(255, 255, 255, 0.1);
}*/
#open-menu {
  margin: calc(var(--header-height) / 4) calc(var(--header-height) * 7 / 32);
  height: calc(var(--header-height) / 4);
}
#close-menu {
  height: 1em;
}
/*#open-menu, #close-menu {
  width: calc(var(--header-height) * 5 / 16);
}*/
.fill-txt {
  fill: var(--text);
  transition: fill 1.25s ease-in-out;
}
nav {
  width: var(--nav-width);
  max-width: 100vw;
  background-color: var(--darker);
  position: fixed;
  transition: left 500ms, background-color 1.25s ease-in-out;
  top: 0;
  z-index: 4;
  height: 100vh;
  left: calc(0px - var(--nav-width));
  /*padding-top: var(--header-height);*/
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}
nav.open {
  left: 0;
}
#lists {
  position: relative;
  right: 0;
  height: calc(100% - var(--header-height) - 1px);
}
nav.open #lists {
  transition: right 500ms;
}
nav ul {
  margin: 0;
  padding: 0;
}
/*nav.open ul {
  transition: right 500ms;
  /*min-height: calc(100% - var(--header-height) - 1px);*/
/*}*/
#lists > ul:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#lists > ul:last-child li {
  border-bottom: none;
  border-top: 1px solid var(--contrast-darker);
  width: calc(100% - var(--header-height) + 1em);
  transition: border-color 1.25s ease-in-out
}
nav #back, nav li {
  padding: calc((var(--header-height) - 1em) / 2);
  list-style-type: none;
  border-bottom: 1px solid var(--contrast-darker);
  height: 1em;
  cursor: pointer;
  transition: border-color 1.25s ease-in-out;
}
/*[data-theme="light"] nav #back, [data-theme="light"] nav li, [data-theme="light"] #lists > ul:last-child li {
  border-color: var(--background);
}
[data-theme="dark"] nav #back, [data-theme="dark"] nav li, [data-theme="dark"] #lists > ul:last-child li {
  border-color: var(--background-secondary);
}*/
nav ul ul, #settings {
  transform: translateX(100%);
  width: var(--nav-width);
  position: absolute;
  left: 0;
  top: 0;
}
nav ul ul:not(.sub-open), #settings:not(.sub-open) {
  display: none;
}
nav li.menu::after { /* nav li:has( ul)::after -- unfortunately, this isn't supported in any browsers */
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 0;
  top: 50%;
  transform: translate(50%, -50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-left-color: var(--text);
  transition: border-left-color 1.25s ease-in-out;
  float: right;
}