@supports (backdrop-filter: blur(5px)) {
  #modal-overlay {
    backdrop-filter: blur(5px); 
    /* This throws a warning in firefox, even though backdrop-filter isn't supported
    however, any css in this supports tag is not applied (I checked) */
  }
}
@supports not (backdrop-filter: blur(5px)) {
  /*body.blur > :not(.modal)*/
  body.blur header, body.blur footer, body.blur main {
    filter: blur(5px);
  }
}
.modal {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}
.modal:not(.no-body) {
  background-color: var(--background);
  border-radius: 5px;
  min-width: 300px;
  max-width: 60vw;
  min-height: 150px;
  max-height: 10vh;
  overflow: hidden;
}
.modal.open {
  display: initial;
}
.modal.popup {
  animation: open-modal 1000ms ease-in-out forwards;
}
#modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.modal:not(.no-body) .content {
  margin: 10px;
  margin-bottom: 48px;
  text-align: center;
}
.modal:not(.no-body) .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--background-secondary);
  transition: background-color 1.25s ease-in-out;
  text-align: right;
}
#color-picker {
  width: 500px;
  max-height: 100vh;
}
#color-picker .content {
  display: grid;
  height: 304px;
  gap: 10px;
  grid-template-rows: 30% 70%;
  grid-template-columns: 304px 24px 1fr;
  grid-template-areas: 
    "hue-saturation lightness before-after"
    "hue-saturation lightness textboxes";
}
#hue-saturation {
  grid-area: hue-saturation;
  width: 300px;
  height: 300px;
  position: relative;
  border: 2px solid var(--darker);
  background-image: linear-gradient(to bottom, transparent, gray), 
    linear-gradient(to right, red, #f80, yellow, #8f0, #0f0, #0f8, cyan, #08f, blue, #80f, magenta, #f08, red); /* unfortunately doesn't blend colors correctly (https://www.youtube.com/watch?v=LKnqECcg6Gw) */
}
#hue-saturation div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--background);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
}
#lightness {
  /*-webkit-appearance: none;*/
  appearance: none;
  grid-area: lightness;
  padding: 0px;
  height: 20px;
  width: 300px;
  background: transparent;
  border: none;
  outline: none;
  margin: 0px;  
  transform: rotate(270deg);
  position: relative;
  top: 140px;
  right: 140px;
}
#lightness-background {
  height: 300px;
  width: 20px;
  background-image: linear-gradient(white, red, black);
  border: 2px solid var(--darker);
}
#lightness::-webkit-slider-thumb {
  /*-webkit-appearance: none;*/
  appearance: none;
  cursor: ns-resize;
  height: 20px;
  width: 0px;
  background-color: transparent;
  border-radius: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--darker) transparent;
}
#lightness::-moz-range-thumb {
  cursor: ns-resize;
  height: calc(100% - 9px);
  width: 0px;
  background-color: transparent;
  border-radius: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--darker) transparent;
}
@keyframes open-modal {
  from {
    top: -5px;
    transform: translate(-50%, -100%);
  }
  to {
    top: 10%;
    transform: translate(-50%, 0);
  }
}