<imports>
  <link rel="stylesheet" href="/css/homepage.css">
  <script src="/js/homepage.js" type="application/javascript" defer></script> <!--Not deferd -->
</imports>
<section id="welcome">
  <div>
    <div>W</div>
    <div>E</div>
    <div>L</div>
    <div>C</div>
    <div>O</div>
    <div>M</div>
    <div>E</div>
  </div>
</section>
<section style="background-color: blue;"></section>